<header class="encabezado">
    <div class="nombre_licenciado">
        <h1 class="h1_nombre">
            Fiorela Denari - Nutricionista
        </h1>
        <img src="\icono_lapiz.png" alt="Calidad" width="30" height="30">
    </div>

    <div class="iconos">
        <p class="link_instagram">
            -Sigueme en Instagram:
        </p>
        <a href="https://www.instagram.com/fiodenari.nutricion/" target="_blank">
            <img  src="\icono_instagram.png" alt="Instagram" width="36" height="36">
        </a>
        <p class="link_whatsapp">
            +3465 65-4227
        </p>
        <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.link%2Fyf8mu6%3Ffbclid%3DPAZXh0bgNhZW0CMTEAAafDoKOg14uJ4aas_GUQiPEZyuhvA0Ch_o5eu5Qj-hqwEL96ni4GFiM8HZfq0w_aem_Y0heFLnwAPex2cdfVF7qgQ&e=AT34DutOMDq4_oZYMFERNJedpPtQdnUKE4KOJ4oh84pBDzmdWJazT_EkR4S9Y3fDUn4dVZ2sNe43JliTzCdSZwRBn_7MFfPIGGrVBg" target="_blank">
            <img src="\icono_whatsapp.png" alt="Whatsapp" width="36" height="36">
        </a>
    </div>
        
</header>
