<section class="seccion_change">
    <section class="seccion-activa" id="seccion-posts">
        <section class="posts">
            <section id="posts_box_titulo">
                <h1 class="posts_titulo">
                    <span style="color:rgb(255, 188, 243)">MA</span>
                    <span style="text-decoration:line-through">NOS EN LA MA</span>
                    <span style="color:rgb(255, 188, 243)">SA</span> 
                </h1>
            </section>

            <section class="posts_img">

                <div  class="posts_img_config" >
                    <img  src="\post-avena.jpg" alt="avena" >
                    <div class="imagen_texto_hover">
                        <p>AVENA HORNEADA 🍓</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-trufas.jpg" alt="trufas" >
                    <div class="imagen_texto_hover">
                        <p>TRUFAS🥥</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-panqueque.jpg" alt="panqueque" >
                    <div class="imagen_texto_hover">
                        <p>PANQUEQUE🤗</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-tartazuchinni.jpg" alt="tarta" >
                    <div class="imagen_texto_hover">
                        <p>TARTA ZUCHINNI🥧</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img   src="\post-tortaintegral.jpg" alt="torta" >
                    <div class="imagen_texto_hover">
                        <p>TORTA INTEGRAL✔️</p>
                    </div>
                </div>
            </section>
        
            <section class="separador_recetas">
                <p>⚠️ TODAS LAS RECETAS LAS PODES ENCONTRAR HACIENDO CLICK EN ESTE BOTÓN:</p>
                <a class="link_button_recetas" href="https://www.instagram.com/fiodenari.nutricion/" target="_blank">
                    <button class="button_recetas">➡︎RECETAS⬅︎</button>
                </a>
                <p>-TE ABRIRÁ MI FEED DE INSTAGRAM, EN EL CUAL PUBLICO TODO...</p>
            </section>

            <section class="posts_img">

                <div  class="posts_img_config" >
                    <img  src="\post-pepas-avena.jpg" alt="pepas" >
                    <div class="imagen_texto_hover">
                        <p>PEPAS DE AVENA 😏</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-zato.jpg" alt="sopa" >
                    <div class="imagen_texto_hover">
                        <p>SOPA DE ZANAHORIA Y TOMATE🍅</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-panqueques.jpg" alt="panqueque" >
                    <div class="imagen_texto_hover">
                        <p>PANQUEQUE DE BANANA🍌</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img  src="\post-mermelada-frutosrojos.jpg" alt="mermelada" >
                    <div class="imagen_texto_hover">
                        <p>MERMELADA DE FRUTOS ROJOS🥤</p>
                    </div>
                </div>
                <div class="posts_img_config">
                    <img   src="\post-tarta.jpg" alt="tarta" >
                    <div class="imagen_texto_hover">
                        <p>TARTA MASA CASERA😉</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<app-footer></app-footer>
