<section class="main"> 
    <section class="info_contenedor">
        <section class="info">
            <img class="info_icono" src="\icono_informacion2.png" alt="informacion" width="38" height="38">
            <div class="info_titulo">
                <h2 class="info_h2">INFORMACIÓN SOBRE MI WEB</h2>
            </div>
            <div class="info_parrafo">
                <p [innerHTML]="textoVisible "></p>
            </div>
        </section>

        <img src="\icono-nutricionista.png" alt="icono-cocinera" width="300px" height="300px" style="margin-top: 40px;">
        <img src="\frase2.png" alt="frase" class="frase" width="320px" height= "280px" style="margin-left: 50px;margin-top: 10px; opacity: 0.8;">

    </section>
</section>
